<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create New Listing</h2>
    <form action="/all_listing" method="post">
    <input placeholder="pet_name" name="pet_name" type="text"><br>
    <input placeholder="pet_type eg.Dog,cat" name="pet_type" type="text"><br>
    <input placeholder="breed" name="breed" type="text"><br>
    <input placeholder="age" name="age" type="number"><br>
    <textarea name="description" placeholder="decription"></textarea><br>
    <input placeholder="upload image" name="image" type="file"><br> 
    <input name="price" placeholder="Enter price" type="number"><br>
    <input type="text" name="location" placeholder="Enter Address"><br>
    <button>ADD</button>
    </form>
</body>
</html>